beanbag-docutils>=1.7
Sphinx>=1.8.5,<1.999; python_version <= '2.7'
Sphinx>=3.1.2; python_version >= '3.6'
sphinx-rtd-theme

# Needed until beanbag-docutils adds support for Django 3.0+.
Django>=1.6,<2.2.999
