graft docs

prune docs/_build
prune docs/coderef/python

include AUTHORS
include LICENSE
include NEWS
include README.rst
include *-requirements.txt
include tests/test_db_settings.py.tmpl

exclude tests/test_db_settings.py

global-exclude .*.sw[op] *.db *.py[co] __pycache__ .DS_Store .noseids
