# This file is needed if you want to override or supplement the default,
# Docker-based test databases. You will need to have an entry for each database
# you want to test against.
#
# See test_db_settings.py for built-in database names.

TEST_DATABASES = {
    'mysql...': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'test',
        'HOST': '...',
        'USER': '...',
        'PASSWORD': '...',
        'OPTIONS': {
            'init_command': 'SET storage_engine=INNODB',
        },
    },

	# MariaDB
    'mariadb...': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'test',
        'HOST': '...',
        'USER': '...',
        'PASSWORD': '...',
        'OPTIONS': {
            'init_command': 'SET storage_engine=INNODB',
        },
    },

	# Postgres
    'postgres...': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'test',
        'HOST': '...',
        'USER': '...',
        'PASSWORD': '...',
    },
}
